{% extends 'quality/base.html' %}
{% load static %}

{% block content %}
    {% csrf_token %}

<header class="masthead text-center text-white d-flex">
   <div class="container my-auto">
   <div class="row">
      <div class="col-lg-10 mx-auto p-3 custom-color ">

         <h3 class="custom_title">
             <strong>Une erreur interne au site s'est produite !</strong>
             Auquel cas nous réglerons le problème au plus vite !
         </h3>
          <hr>
        {% include 'quality/search_product.html' %}
      </div>
   </div>
</header>

{% endblock %}