h1 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #345a61 ;
}

a {
    font-family: 'Scope One', 'Helvetica Neue', Arial, sans-serif;
    color: #345a61;

}


.bg-primary {
  background-color: #c45525 !important;
}

.bg-portofolio {
    background-color: #86ebe6;
}

.bg-contact {
    background-color: #e8a75d ;
}

.text-icone {
    color: #345a61;
}

.bg-footer {
    background-color:  #de9440;
}

.a-headings {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    display: block;
    font-size: 1.8em;

}

#brand-name {
    color: black;
}

.mes-account {
    background-color: #e8a75d ;
    border-radius: 5px;
}

.text-account {
    color :  #c45525;
    font-family: 'Scope One', 'Helvetica Neue', Arial, sans-serif;

}

.btn-account {
    margin-top: 20px;
    color :  #c45525;
    padding: 1rem 2rem;
    background-color: #345a61;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}


.img-card {
    height: 120px;
    width: 90px;
}

.card-body {
    padding: 0;
}

.card-title {

    margin: 10px;
}

.display-product {
    margin : 300 px
}