@font-face {
  font-family: 'carrot';
  src:  url('../fonts/carrot.eot?gecjid');
  src:  url('../fonts/carrot.eot?gecjid#iefix') format('embedded-opentype'),
    url('../fonts/carrot.ttf?gecjid') format('truetype'),
    url('../fonts/carrot.woff?gecjid') format('woff'),
    url('../fonts/carrot.svg?gecjid#carrot') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'carrot' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-noun_Carrot_29691:before {
  content: "\e900";
}


h1 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #345a61 ;
}

a {
    font-family: 'Scope One', 'Helvetica Neue', Arial, sans-serif;
    color: #345a61;
}

.bg-primary {
  background-color: #c45525 !important;
}

.bg-portofolio {
    background-color: #86ebe6;
}

.bg-contact {
    background-color: #e8a75d ;
}

.bg-product {
    background-color: #86ebe6 ;
}

.text-icone {
    color: #345a61;
}

.bg-footer {
    background-color:  #de9440;
}

.a-headings {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    display: block;
    font-size: 1.8em;

}

#brand-name {
    color: black;
}

.mes-account {
    background-color: #e8a75d ;
    border-radius: 5px;
}

.text-account {
    color :  #c45525;
    font-family: 'Scope One', 'Helvetica Neue', Arial, sans-serif;

}

.btn-account {
    margin-top: 20px;
    color :  #c45525;
    padding: 1rem 2rem;
    background-color: #345a61;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}


.card {
    width: 18rem;
    background-color: #e8a75d;
}


.img-card {
    height: 120px;
    width: 90px;
}

.card-body {
    padding: 0;

}

.card-title {

    margin: 10px;
}

.display-product {
    margin : 300 px
}

.custom-color {
    color : #c45525;
    background-color: rgba( 251, 241, 241, 0.6);
    border-radius: 5px;
    font-weight: bold;

}


header.custom_masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-color: #345a61;
  background-position: center center;
  background-size: cover;
}

.custom_title {
    color: #345a61;
    font-family: 'Scope One', 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
}


/*section sub_product*/

header.nav_masthead {
  padding-top: 6.5rem;
  background-color: #345a61;
  background-size: cover;
  background-image: url("../img/header.jpg");
}

section.product {
    background-color: black;
}

.product_img {
    height: 200px;
    width: 130px;
}

.row-centered {
    text-align: center;
}


/*.col-centered {*/
    /*display: inline-block;*/
    /*float: none;*/
/*}*/

/*to display notification badge*/
.item {
    position:relative;
    padding-top:20px;
    display:inline-block;
}

.notify-badge{
    position: absolute;
    right:-20px;
    top:10px;

    text-align: center;
    border-radius: 20px 20px 20px 20px;
    color: blanchedalmond;
    padding:5px 10px;
}


.good-product {
    background: #345a61;
}
