{% extends 'quality/base.html' %}
{% load static %}

{% block content %}


<header class="custom_masthead text-center">
   <div class="container my-auto">
      <div class="row">
         <div class="col-lg-12 mx-auto pt-3 custom-color">
            <h4 class="custom_title">Aliment cherché</h4>
            <hr>
            <div class="d-inline-flex justify-content-around align-items-center">
               {% for sel_product  in sel_products %}
               <img class="card-img-top img-card" src="{{sel_product.img}}" alt="{{sel_product.name}}">
               <h5>{{sel_product.name}}</h5>
               {% endfor %}
            </div>
            <h4 class="custom_title">  Vous pouvez remplacer cet aliment par :  </h4>
            <hr>
            {% for sub_product in sub_products %}
            <div class="d-inline-flex justify-content-around align-items-center">
            <div class="card" style="width: 18rem;">
               <img class="card-img-top img-card" src="{{sub_product.img}}" alt="{{sub_product.name}}">
               <div class="card-body">
                  <h5 class="card-title">{{sub_product.name}}</h5>
                  <ul class = "list-group list-group-flush">
                     <li  class="list-group-item">Catégorie : {{sub_product.category}}</li>
                     <li class="list-group-item">Nutriscore : {{sub_product.n_grade}}</li>
                     <li class="list-group-item"><a target="_blank" href="{{sub_product.url}}">Fiche produit </a></li>
                  </ul>
               </div>
            </div>
            </div>
            {% endfor %}
            <div>
               <span class="step-links">
               {% if sub_products.has_previous %}
               <a href="?page=1">&laquo; premier</a>
               <a href="?page={{ sub_products.previous_page_number }}">précédent</a>
               {% endif %}
               <span class="current">
               Page {{ sub_products.number }} sur {{ sub_products.paginator.num_pages }}.
               </span>
               {% if sub_products.has_next %}
               <a href="?page={{ sub_products.next_page_number }}">suivant</a>
               <a href="?page={{ sub_products.paginator.num_pages }}">dernier &raquo;</a>
               {% endif %}
               </span>
            </div>
         </div>
      </div>
   </div>
   </div>
</header>







{% endblock %}