{% extends 'quality/base.html' %}
{% load static %}

{% block content %}

<header class="nav_masthead">
</header>
<section id='selected-product' class="product p-4" >

   <div class="container my-auto">

      <div class="row row-centered">

         <div class="col-lg-4 col-md-5 col-sm-4 mx-auto ">
            <h4 class="custom_title">Aliment sauvegardé</h4>
            <hr>
            {% for sub_product  in sub_products %}
            <div class="item">
               <a href="#">
               <span class="notify-badge bg-primary" >{{sub_product.n_grade}}</span>
               <img class="product_img img-fluid rounded"  src="{{sub_product.img}}" alt="{{sub_product.name}}" >
               </a>
            </div>
            <div class="carousel-caption  ">
               <h4 class="custom-color" >{{sub_product.name}}</h4>
            </div>

         </div>
      </div>
   </div>
</section>
<section id='choice' class="bg-footer p-4 text-center" >
   <div  class="container my-auto">
 <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xl-2 text-center">
        <h5 class="custom_title">Magasin où l'acheter : </h5>
        <h5 class="custom_title">{{sub_product.store}} </h5>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xl-2 text-center">
       <h5 class="custom_title">Valeur nutritionnelle pour 100g  </h5>
       <img class="product_img img-fluid rounded"  src="{{sub_product.img_nutrition}}" alt="{{sub_product.name}}" >
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xl-2 text-center">
       <a target="_blank" href="{{sub_product.url}}" ><h5 class="custom_title">Lien vers la fiche produit </h5></a>
    </div>
    {% endfor %}

    {% for sel_product  in sel_products %}

    <div class="col-lg-3 col-md-6 col-sm-6 col-xl-2 text-center">
       <h5 class="custom_title">Ce produit remplace  </h5>

         <div class="item">
               <a href="#">
               <span class="notify-badge bg-primary" >{{sel_product.n_grade}}</span>
               <img class="product_img img-fluid rounded"  src="{{sel_product.img}}" alt="{{sel_product.name}}" >
               </a>
         </div>
         <div class="carousel-caption  ">
            <h4 class=" custom-color" >{{sel_product.name}}</h4>
         </div>
    </div>
    {% endfor %}
 </div>

<!--pagination-->
   <div class="mt-5">
   <span class="step-links">
   {% if sub_products.has_previous %}
   <a href="?page=1"><< premier</a>
   <a href="?page={{ sub_products.previous_page_number }}">précédent</a>
   {% endif %}
   <span class="current">
   Page {{ sub_products.number }} sur {{ sub_products.paginator.num_pages }}.
   </span>
   {% if sub_products.has_next %}
   <a href="?page={{ sub_products.next_page_number }}">suivant</a>
   <a href="?page={{ sub_products.paginator.num_pages }}">dernier &raquo;</a>
   {% endif %}
   </span>
</div>

</section>


<!-- développement en cours: pagination -->
    <!--<div class="container">-->
             <!--{% if sub_products.has_other_pages %}-->
                 <!--<ul class="pagination">-->
                    <!--{% if sub_products.has_previous %}-->
                    <!--<li><a href="?page={{ sub_products.previous_page_number }}">&laquo;</a></li>-->
                    <!--{% else %}-->
                    <!--<li class="disabled"><span>&laquo;</span></li>-->
                    <!--{% endif %}-->
                    <!--{% for i in sub_products.paginator.page_range %}-->
                    <!--{% if sub_products.number == i %}-->
                    <!--<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>-->
                    <!--{% else %}-->
                     <!--<li><a href="?page={{ i }}">{{ i }}</a></li>-->
                    <!--{% endif %}-->

                    <!--{% endfor %}-->
                    <!--{% if sub_products.has_next %}-->
                    <!--<li><a href="?page={{ sub_products.next_page_number }}">&raquo;</a></li>-->
                    <!--{% else %}-->
                    <!--<li class="disabled"><span>&raquo;</span></li>-->
                    <!--{% endif %}-->
                    <!--</ul>-->
             <!--{% endif %}-->
    <!--</div>-->

{% endblock %}

{% block javascript %}

<script type="text/javascript">

$(document).ready(function () {
    $(".pagination").rPage();
});
</script>

{% endblock %}