{% extends 'quality/base.html' %}
{% load static %}

{% block nav-style %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Présentations</a>
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>

{% endblock %}

{% block content %}
    {% csrf_token %}

<header class="masthead text-center text-white d-flex">
   <div class="container my-auto">
   <div class="row">
      <div class="col-lg-10 mx-auto">
            {% include 'quality/display_messages.html' %}
          <h1 class="text-uppercase">
            <strong>Du gras, oui, mais de la qualité!</strong>
          </h1>
        {% include 'quality/search_product.html' %}
      </div>



   </div>
</header>



<section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center ">
            <h2 class="section-heading text-white">Colette et Remy</h2>
            <hr class="light my-4">
            <p class="text-faded text-justify mb-4">
                Nous sommes une jeune startup fondée par Remy et Colette Tatou, deux restaurateurs de renom.
                Notre restaurant, situé à Montmartre (Paris), compte une cinquantaine de couverts et ne désemplit pas.
                Notre spécialité, la ratatouille, nous attire une clientèle internationale charmée par les délices de ce plat typique.
            <br/>
                Remy et Colette sont amoureux de la gastronomie française (on ne peut les blâmer !).
                Travaillant quotidiennement avec les meilleurs produits du terroir,
                ils affectionnent particulièrement la bonne chaire et aiment partager leur passion.
                Il est donc normal que Remy ait sauté au plafond quand Colette, un jour de déprime,
                sortit du placard un kilo de Nutella et l’attaqua à la petite cuillère.
                Pourquoi ne pas opter pour une pâte à tartiner aux noisettes, plus consistante et moins sucrée ?
                Pourquoi, oh pourquoi s’infliger une telle souffrance ? Rémy était sidéré.
                La réponse de Colette fut simple : elle n’avait pas trouvé de substitut assez convainquant.
                A vrai dire, elle n’avait même pas cherché. <br/>
                Tous deux se souvinrent alors que nombre de leurs clients leur avaient compté,
                entre deux verres, qu’il était difficile de trouver des substituts aux cochonneries
                que nous mangions dès le petit déjeuner. <br/>

                Pourquoi ne pas lancer une plateforme web en ce sens ? Voici notre mission !</p>


            <a class="login-btn btn btn-light btn-xl js-scroll-trigger">Connectez-vous!</a>
          </div>
        </div>
      </div>
    </section>



    <section class="p-0 bg-portofolio " id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">

          <div class="col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-10">
            <a class="portfolio-box mr-0" href="{% static 'quality/img/portfolio/remy/fullsize/0.jpg' %}">
              <img class="img-fluid" src="{% static 'quality/img/portfolio/remy/thumbnails/0.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Remy
                  </div>
                  <div class="project-name">
                    J'aime le fromage artisannal
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-10">
            <a class="portfolio-box ml-0" href="{% static 'quality/img/portfolio/colette/fullsize/0.jpg' %}">
              <img class="img-fluid" src="{% static 'quality/img/portfolio/colette/thumbnails/0.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Colette
                  </div>
                  <div class="project-name">
                    J'aime la cuisine de ma grand-mère
                  </div>
                </div>
              </div>
            </a>
          </div>


          <div class="col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-10">
            <a class="portfolio-box mr-0" href="{% static 'quality/img/portfolio/remy/fullsize/2.jpg' %}">
              <img class="img-fluid" src="{% static 'quality/img/portfolio/remy/thumbnails/2.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Remy
                  </div>
                  <div class="project-name">
                    La preuve en image
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-10">
            <a class="portfolio-box ml-0" href="{% static 'quality/img/portfolio/colette/fullsize/2.png' %}">
              <img class="img-fluid" src="{% static 'quality/img/portfolio/colette/thumbnails/2.png' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Colette
                  </div>
                  <div class="project-name">
                    Eplucher les légumes est ma passion!
                  </div>
                </div>
              </div>
            </a>
          </div>

          <!--<div class="col-md-2"></div>-->


           <!--<div class="col-md-2"></div>-->

          <div class="col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-10">
            <a class="portfolio-box mr-0" href="{% static 'quality/img/portfolio/remy/fullsize/3.jpg' %}">
              <img class="img-fluid" src="{% static 'quality/img/portfolio/remy/thumbnails/3.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Remy
                  </div>
                  <div class="project-name">
                    Chez nous : venez comme vous etes!
                  </div>
                </div>
              </div>
            </a>
          </div>

          <!--<div class="col-md-2"></div>-->

          <div class="col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-10">
            <a class="portfolio-box ml-0" href="{% static 'quality/img/portfolio/colette/fullsize/4.png' %}">
              <img class="img-fluid" src="{% static 'quality/img/portfolio/colette/thumbnails/4.png' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Colette
                  </div>
                  <div class="project-name">
                    ...Enfin un site web utile...
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-10">
            <a class="portfolio-box mr-0" href="{% static 'quality/img/portfolio/remy/fullsize/1.jpg' %}">
              <img class="img-fluid" src="{% static 'quality/img/portfolio/remy/thumbnails/1.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Remy
                  </div>
                  <div class="project-name">
                    Le moral au fond des casseroles!
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-6 col-lg-6  col-md-6 col-sm-6 col-xs-10">
            <a class="portfolio-box ml-0" href="{% static 'quality/img/portfolio/colette/fullsize/3.png' %}">
              <img class="img-fluid" src="{% static 'quality/img/portfolio/colette/thumbnails/3.png' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Colette
                  </div>
                  <div class="project-name">
                    Ici : pas d'huile de palme !!!
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-2"></div>

        </div>
      </div>
    </section>

{% endblock %}



