
{% extends 'quality/base.html' %}
{% load static %}

{% block content %}

<header class="masthead text-center d-flex">
   <div class="container my-auto">
      <div class="row">
         <div class="col-lg-12 mx-auto">
            <h4 class="text-uppercase" style="color : orangered">
               <strong>{{title}}</strong>
            </h4>
               <h5 class="text-account"><strong>Voir les produits </strong></h5>
              <a href="#choice" class="js-scroll-trigger"><i href="#choice" class="fas fa-angle-double-down fa-3x mb-3"></i></a>
         </div>
      </div>
   </div>
</header>
<section id="choice" class="bg-product d-flex " >
   <div  class="container my-auto">
      <div class="card-deck  justify-content-center">
         {% for dict_item in data %}
         <form action="{% url 'quality:sub_product' %}" method="GET">
            <div class="card mb-lg-4 p-1">
               <img class="card-img-top img-card" src="{{dict_item.img}}" alt="{{dict_item.product_name}}">
               <div class="card-body">
                  <h5 class="card-title">{{dict_item.product_name}}</h5>
                  <ul class = "list-group list-group-flush">
                     <li  class="list-group-item">Catégorie : {{dict_item.category}}</li>
                     <li class="list-group-item">Nutriscore : {{dict_item.nutriscore}}</li>
                     <li class="list-group-item">
                        <button type="submit" class="btn btn-primary" name="subscribe" value="{{dict_item.product_name}}, {{dict_item.category}}, {{dict_item.img}}, {{dict_item.nutriscore}}, {{dict_item.url}}">Selectionner </button>
                     </li>
                  </ul>
               </div>
            </div>
         </form>
         {% endfor %}
      </div>
   </div>
</section>

{% endblock %}
