{% extends 'quality/base.html' %}
{% load static %}

{% block content %}
<header class="masthead text-center  d-flex">
   <div class="container my-auto">
      <div class="row">

         <div class="col-lg-3 mx-auto">
             {% include 'quality/display_messages.html' %}
            <div class="card-deck ">
               <div class="card mb-lg-4 p-1">
                  <!-- set a width on the image otherwise it will expand to full width       -->
                  <img class="card-img-top img-card " src="{{request.session.selected_img}}" alt="{{request.session.selected_name}}" >
                  <div class="card-body">
                     <h5 class="card-title">Votre produit selectionné </h5>
                     <ul class = "list-group list-group-flush">
                        <li class="list-group-item">Nom : {{request.session.selected_name}}</li>
                        <li class="list-group-item">Catégorie : {{request.session.selected_category}}</li>
                        <li class="list-group-item">Nutriscore : {{request.session.selected_nutriscore}}</li>
                     </ul>
                  </div>
               </div>
            </div>
            <h5 class="text-account"><strong>Voir les produits de substitution</strong></h5>
            <a href="#choice" class="js-scroll-trigger"><i href="#choice" class="fas fa-angle-double-down fa-3x mb-3"></i></a>
         </div>
      </div>
   </div>
</header>
<section id="choice" class="bg-product d-flex" >
   <div  class="container my-auto">

        {% if user.is_anonymous %}
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading"> Changez vos habitudes ! <br> Sauvegardez votre recherche !</h2>
            <hr class="my-4">
            <p class="mb-5">Vous pourrez ainsi retrouver tous vos produits de meilleure qualité et faire évoluer vos habitudes de consommation !
            Pour cela connectez vous ou créez un compte  ! Retrouvez toutes vos recherches dans la page aliment.</p>

             <div class="d-lg-inline d-sm-flex">
            <button class="signup-btn btn btn-primary" type="button" name="button1">Créer un compte</button>
              <button class="login-btn btn btn-primary" type="button" name="button">Se connecter</button>
          </div>
             <hr class="my-4">
          </div>
        </div>
        {% endif %}


      <div class="card-deck justify-content-center ">

         {% if user.is_authenticated %}
               {% for dict_item in data %}
               <form action="{% url 'quality:user_choice' %}" method="GET">
                  <div class="card mb-lg-4 p-1">
                     <img class="card-img-top img-card" src="{{dict_item.img}}" alt="{{dict_item.product_name}}">
                     <div class="card-body">
                        <h5 class="card-title">{{dict_item.product_name}}</h5>
                        <ul class = "list-group list-group-flush">
                        <li  class="list-group-item">Catégorie : {{dict_item.category}}</li>
                        <li class="list-group-item">Nutriscore : {{dict_item.nutriscore}}</li>
                        <li class="list-group-item">
                           <button type="submit" class="btn btn-primary" name="subscribe" value="{{dict_item.product_name}}, {{dict_item.category}}, {{dict_item.img}}, {{dict_item.nutriscore}}, {{dict_item.url}}">Sauvegarder</button>
                        </li>
                     </div>
                  </div>
               </form>
               {% endfor %}

         {% else %}
              {% for dict_item in data %}
                  <form action="#" >
                  <div class="card mb-lg-4 p-1">
                     <img class="card-img-top img-card" src="{{dict_item.img}}" alt="{{dict_item.product_name}}">
                     <div class="card-body">
                        <h5 class="card-title">{{dict_item.product_name}}</h5>
                        <ul class = "list-group list-group-flush">
                        <li  class="list-group-item">Catégorie : {{dict_item.category}}</li>
                        <li class="list-group-item">Nutriscore : {{dict_item.nutriscore}}</li>

                        </ul>
                     </div>
                  </div>
                  </form>

               {% endfor %}
         {% endif %}

      </div>

   </div>
</section>



{% endblock %}

{% block javascript %}

{% endblock %}