{% extends 'quality/base.html' %}
{% load static %}
{% block content %}
<header class="nav_masthead">
</header>
<section id='selected-product' class="product p-4" >
   <div class="container my-auto">
      <div class="row row-centered">
         <div class="col-lg-3 col-md-5 col-sm-4 mx-auto ">
             {% include 'quality/display_messages.html' %}
            <div class="item">
               <a href="#">
               <span class="notify-badge bg-primary" >{{request.session.selected_nutriscore}}</span>
               <img class="product_img img-fluid rounded"  src="{{request.session.selected_img}}" alt="{{request.session.selected_name}}" >
               </a>
            </div>
            <div class="carousel-caption  ">
               <h5 class=" custom-color" >{{request.session.selected_name}}</h5>
            </div>
         </div>
      </div>
   </div>
</section>
<section id='choice' class="bg-footer p-4 text-center" >
   <div  class="container my-auto">
      {% if user.is_authenticated %}
      <h3 class="custom_title pb-3"> Vous pouvez remplacer ce produit par : </h3>
      <div class="row">
         {% for dict_item in data %}
         <div class="col-xl-4 px-xl-5 col-lg-4 col-md-5 col-sm-6 col-xs-10 mx-auto text-center">
            <form action="{% url 'quality:user_choice' %}" method="GET">
               <div class="item">
                  <a href="#">
                  <span class="notify-badge good-product" >{{dict_item.nutriscore}}</span>
                  <img class="product_img img-fluid rounded"  src="{{dict_item.img}}" alt="{{dict_item.product_name}}" >
                  </a>
               </div>
               <div class="carousel-caption mb-5 ">
                  <h5 class="custom-color ">{{dict_item.product_name}}</h5>
               </div>
               <button type="submit" class="btn btn-outline-light text-icone mt-3 " name="subscribe"
                       value="{{dict_item.product_name}}, {{dict_item.category}}, {{dict_item.img}}, {{dict_item.nutriscore}}, {{dict_item.url}}, {{dict_item.img_nutrition}}, {{dict_item.magasins}}">
               <i class="fas fa-save fa-2x text-icone sr-save-1 "></i>
               Sauvegarder
               </button>
            </form>
         </div>
         {% endfor %}
      </div>
   </div>
   {% else %}
   <div class="row">
      <div class="col-lg-8 mx-auto text-center">
         <h2 class="section-heading"> Changez vos habitudes ! <br> Sauvegardez votre recherche !</h2>
         <hr class="my-4">
         <p class="mb-5">Vous pourrez ainsi retrouver tous vos produits de meilleure qualité et faire évoluer vos habitudes de consommation !
            Pour cela connectez vous ou créez un compte  ! Retrouvez toutes vos recherches dans la page aliment.
         </p>
         <div class="d-lg-inline d-sm-flex">
            <button class="signup-btn btn btn-primary" type="button" name="button1">Créer un compte</button>
            <button class="login-btn btn btn-primary" type="button" name="button">Se connecter</button>
         </div>
         <hr class="my-4">
      </div>
   </div>
   <div class="row">
      {% for dict_item in data %}
      <div class="col-xl-4 px-xl-5 col-lg-4 col-md-5 col-sm-6 col-xs-10 mx-auto text-center">
         <form action="#" >
            <div class="item">
               <a href="#">
               <span class="notify-badge good-product" >{{dict_item.nutriscore}}</span>
               <img class="product_img img-fluid rounded"  src="{{dict_item.img}}" alt="{{dict_item.product_name}}" >
               </a>
            </div>
            <div class="carousel-caption mb-2 ">
               <h5 class="custom-color ">{{dict_item.product_name}}</h5>
            </div>
         </form>
      </div>
      {% endfor %}
   </div>
   {% endif %}
   </div>
   </div>
</section>
{% endblock %}