{% extends 'quality/base.html' %}
{% load static %}

{% block content %}
<header class="nav_masthead">
</header>
<section id='selected-product' class="product p-4" >

   <div class="container my-auto">

      <div class="row row-centered">

         <div class="col-lg-4 col-md-5 col-sm-4 mx-auto ">
            <h4 class="custom_title">Votre produit selectionné</h4>
            <hr>

             <div class="item">
               <a href="#">
               <span class="notify-badge bg-primary" >{{request.session.selected_nutriscore}}</span>
               <img class="product_img img-fluid rounded"  src="{{request.session.selected_img}}" alt="{{request.session.selected_name}}" >
               </a>
            </div>
            <div class="carousel-caption  ">
               <h5 class=" custom-color" >{{request.session.selected_name}}</h5>
            </div>
         </div>
         <div class="col-lg-4 col-md-5 col-sm-4 mx-auto ">
            <h4 class="custom_title">Votre produit substituant</h4>
            <hr>

             <div class="item">
               <a href="#">
               <span class="notify-badge bg-primary" >{{request.session.substitut_nutriscore}}</span>
               <img class="product_img img-fluid rounded"  src="{{request.session.substitut_img}}" alt="{{request.session.substitut_name}}" >
               </a>
            </div>
            <div class="carousel-caption  ">
               <h5 class=" custom-color" >{{request.session.substitut_name}}</h5>
            </div>

         </div>




      </div>
   </div>
</section>
<section id='choice' class="bg-footer p-4 text-center" >
   <div  class="container my-auto">
      <hr>
      <div class="text-center text-account"
      {% include 'quality/search_product.html' %}
      </div>
   </div>
</section>


{% endblock %}
