<!DOCTYPE html>
<html lang="fr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

      {% load static %}

    <title>Pur Beurre </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'quality/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href= '{% static "quality/vendor/fontawesome-free/css/all.min.css" %}' rel="stylesheet" type="text/css">
    <link href= '{% static "quality/vendor/fontawesome-free/css/brands.min.css" %}' rel="stylesheet" type="text/css">
     <link href= '{% static "quality/vendor/fontawesome-free/webfonts/fa-brands-400.svg" %}' rel="stylesheet" type="text/css">


      <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet" type="text/css">


    <!-- Plugin CSS -->
    <link href='{% static "quality/vendor/magnific-popup/magnific-popup.css"%}' rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href= '{% static "quality/css/creative.min.css" %}' rel="stylesheet">
    <link href="{% static 'quality/css/main.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img alt = "logo" src="{% static 'quality/img/logo_pur_beurre.png' %}" class="logo-navbar"/>Pur Beurre</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">


            <li class="nav-item">
                <!--formulaire de recherche-->
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>



            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Présentations</a>
            </li>


            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>


            <!--Icone de connexion-->
            <li class="nav-item">
                <a  href="#"data-toggle="tooltip" title="Connexion"><i id="hover" class="fas fa-2x fa-user-check  mb-1 sr-icon-1" style="color:#e8a75d"></i></a>
              <!--<a id="stuff" class="nav-link" >Connexion</a>-->
            </li>




          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">


            {% block content %}{% endblock %}

        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center ">
            <h2 class="section-heading text-white">Colette et Remy</h2>
            <hr class="light my-4">
            <p class="text-faded text-justify mb-4">
                Nous sommes une jeune startup fondée par Remy et Colette Tatou, deux restaurateurs de renom.
                Notre restaurant, situé à Montmartre (Paris), compte une cinquantaine de couverts et ne désemplit pas.
                Notre spécialité, la ratatouille, nous attire une clientèle internationale charmée par les délices de ce plat typique.
            <br/>
                Remy et Colette sont amoureux de la gastronomie française (on ne peut les blâmer !).
                Travaillant quotidiennement avec les meilleurs produits du terroir,
                ils affectionnent particulièrement la bonne chaire et aiment partager leur passion.
                Il est donc normal que Remy ait sauté au plafond quand Colette, un jour de déprime,
                sortit du placard un kilo de Nutella et l’attaqua à la petite cuillère.
                Pourquoi ne pas opter pour une pâte à tartiner aux noisettes, plus consistante et moins sucrée ?
                Pourquoi, oh pourquoi s’infliger une telle souffrance ? Rémy était sidéré.
                La réponse de Colette fut simple : elle n’avait pas trouvé de substitut assez convainquant.
                A vrai dire, elle n’avait même pas cherché. <br/>
                Tous deux se souvinrent alors que nombre de leurs clients leur avaient compté,
                entre deux verres, qu’il était difficile de trouver des substituts aux cochonneries
                que nous mangions dès le petit déjeuner. <br/>

                Pourquoi ne pas lancer une plateforme web en ce sens ? Voici notre mission !</p>


            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Connectez-vous!</a>
          </div>
        </div>
      </div>
    </section>



    <section class="p-0 bg-portofolio " id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">

          <div class="col-md-2"></div>

          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'quality/img/portfolio/remy/fullsize/0.jpg' %}">
              <img class="img-fluid" src="{% static 'quality/img/portfolio/remy/thumbnails/0.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Remy
                  </div>
                  <div class="project-name">
                    J'aime le fromage artisannal
                  </div>
                </div>
              </div>
            </a>
          </div>

          <!--<div class="col-md-2"></div>-->

          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'quality/img/portfolio/colette/fullsize/0.jpg' %}">
              <img class="img-fluid" src="{% static 'quality/img/portfolio/colette/thumbnails/0.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Colette
                  </div>
                  <div class="project-name">
                    J'aime la cuisine de ma grand-mère
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-2"></div>


           <div class="col-md-2"></div>

          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'quality/img/portfolio/remy/fullsize/2.jpg' %}">
              <img class="img-fluid" src="{% static 'quality/img/portfolio/remy/thumbnails/2.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Remy
                  </div>
                  <div class="project-name">
                    La preuve en image
                  </div>
                </div>
              </div>
            </a>
          </div>

          <!--<div class="col-md-2"></div>-->

          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'quality/img/portfolio/colette/fullsize/2.png' %}">
              <img class="img-fluid" src="{% static 'quality/img/portfolio/colette/thumbnails/2.png' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Colette
                  </div>
                  <div class="project-name">
                    Eplucher les légumes est ma passion!
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-2"></div>


           <div class="col-md-2"></div>

          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'quality/img/portfolio/remy/fullsize/3.jpg' %}">
              <img class="img-fluid" src="{% static 'quality/img/portfolio/remy/thumbnails/3.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Remy
                  </div>
                  <div class="project-name">
                    Chez nous : venez comme vous etes!
                  </div>
                </div>
              </div>
            </a>
          </div>

          <!--<div class="col-md-2"></div>-->

          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'quality/img/portfolio/colette/fullsize/4.png' %}">
              <img class="img-fluid" src="{% static 'quality/img/portfolio/colette/thumbnails/4.png' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Colette
                  </div>
                  <div class="project-name">
                    ...Enfin un site web utile...
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-2"></div>

           <div class="col-md-2"></div>

          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'quality/img/portfolio/remy/fullsize/1.jpg' %}">
              <img class="img-fluid" src="{% static 'quality/img/portfolio/remy/thumbnails/1.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Remy
                  </div>
                  <div class="project-name">
                    Le moral au fond des casseroles!
                  </div>
                </div>
              </div>
            </a>
          </div>

          <!--<div class="col-md-2"></div>-->

          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'quality/img/portfolio/colette/fullsize/3.png' %}">
              <img class="img-fluid" src="{% static 'quality/img/portfolio/colette/thumbnails/3.png' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Colette
                  </div>
                  <div class="project-name">
                    Ici : pas d'huile de palme !!!
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-2"></div>

        </div>
      </div>
    </section>





    <section class="bg-contact" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Contactez-nous!</h2>
            <hr class="my-4">
            <p class="mb-5">Vous etes enthousiasmés par notre idée de Plateforme et désirez nous soutenir dans notre initiative de mieux manger pour mieux vivre ? C'est avec grand plasir que nous accueillons vos idées et vos compliments!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fas fa-phone fa-3x mb-3 text-icone sr-contact-1"></i>
            <p>09-57-88-47-90</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-3x mb-3 text-icone sr-contact-2"></i>
            <p>
              <a href="mailto:your-email@your-domain.com" style="text-decoration: none">pur-beurre@resto.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>


<section id="services">
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-12 text-center">-->
            <!--<h2 class="section-heading">At Your Service</h2>-->
            <!--<hr class="my-4">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-gem text-icone mb-3 sr-icon-1" ></i>
                <a href ="#"><h3 class="mb-3">Mentions légales</h3></a>
              <p class="text-muted mb-0">Nous citons les sources de notre inspiration.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-paper-plane text-icone mb-3 sr-icon-2"></i>
                <a class="js-scroll-trigger" href="#contact"><h3 class="mb-3">Contact</h3></a>
              <p class="text-muted mb-0">Nous serons heureux déchanger avec vous !</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-gift text-icone mb-3 sr-icon-3"></i>
                <a href="https://github.com/horlas/OC_Project8"><h3 class="mb-3">Code Pur-beurre</h3></a>
              <p class="text-muted mb-0">Pour les développeurs, les correcteurs et les curieux !</p>
            </div>
          </div>
        </div>
      </div>
    </section>














    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'quality/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'quality/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'quality/vendor/jquery-easing/jquery.easing.min.js'%}"></script>
    <script src="{% static 'quality/vendor/scrollreveal/scrollreveal.min.js'%}"></script>
    <script src="{% static 'quality/vendor/magnific-popup/jquery.magnific-popup.min.js'%}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'quality/js/creative.min.js'%}"></script>

  </body>

</html>