
{% extends 'quality/base.html' %}




{% block content %}
{% if user.is_authenticated %}
  <p>Welcome, {{ user.get_username }}. Thanks for logging in.</p>


          <div class="col-lg-8 mx-auto">
            <p class="font-weight-bold mb-5">Trouvez un produit de substitution pour ceux que vous consommez tous les jours.</p>
            <input type="text" >
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">recherche</a>
          </div>

{% endif %}
{% endblock %}



