{% extends 'quality/base.html' %}


{% block content %}




    <h1 class="text-uppercase">
              <strong>Du gras, oui, mais de la qualité!</strong>
    </h1>
    <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="font-weight-bold mb-5">Trouvez un produit de substitution pour ceux que vous consommez tous les jours.</p>
            <input type="text" name="FirstName">
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>


{% endblock %}