
{% extends 'quality/base.html' %}
{% load static %}

{% block content %}
<header class="masthead text-center text-white d-flex">
   <div class="container my-auto">
   <div class="row">
      <div class="col-lg-10 mx-auto">

            <h1 class="text-uppercase" style="color : orangered">
               <strong>{{title}}</strong>
            </h1>
            <hr>

      </div>
   </div>
</header>

<section class="bg-contact" >
   <div  class="col-lg-8 mx-auto">
       {% for dict_item in data %}
      <form action="{% url 'quality:sub_product' %}" method="GET">

         <div class="card bg-light mb-lg-4" style="max-width: 10rem;">
            <img class="card-img-top img-responsive" src="{{dict_item.img}}" alt="{{dict_item.product_name}}">
            <div class="card-body">
               <h5 class="card-title">{{dict_item.product_name}}</h5>
               <p class="card-text ">Catégorie : {{dict_item.category}}</p>
               <p class="card-text ">Nutriscore : {{dict_item.nutriscore}}</p>
            </div>
            <input type="checkbox" name="subscribe" value="{{dict_item.product_name}}, {{dict_item.category}}, {{dict_item.img}}, {{dict_item.nutriscore}}">
            <div>
                <button type="submit" class="btn btn-primary">Chercher un substitut</button>

            </div>
         </div>

      </form>
       {% endfor %}
   </div>
</section>


 <!-- Dans cet exemple, on a le nom (l'attribut name) subscribe utilisé pour
 la case à cocher avec une valeur (l'attribut value) qui est newsletter.
 Lorsque le formulaire est envoyé, les données seront transmises sous la forme subscribe=newsletter.-->


{% endblock %}